body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, a, li {
    text-decoration: none;
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}